@use '../globals/functions' as f;
@use '../globals/mixins' as m;
@use '../globals/variables' as v;

.connect{
    display: flex;
    flex-direction: column;
    margin: f.toRem(73) f.toRem(32);
    @include m.breakpoint('small'){
        margin: f.toRem(200) f.toRem(96);
    }

    @include m.breakpoint('xlarge'){
        margin: f.toRem(96) f.toRem(0);
        flex-direction: row;
    }
    

    &__heading{
        @include m.breakpoint('xlarge'){
            flex: 0.5;
        }
    }

    &__br{
        @include m.breakpoint('small'){
            display: none;
        }
        @include m.breakpoint('xlarge'){
            display: block;
        }
    }

    &__form{
        margin-top: f.toRem(60);
        display: flex;
        flex-direction: column;
        @include m.breakpoint('xlarge'){
            flex: 1;
            margin: 0;
        }
        
    }
    //basic styling
    & input, & textarea{
        border: 0 solid black;
        border-bottom: f.toRem(1) solid v.$very-dark-blue;
        resize: none;
        padding: f.toRem(21) f.toRem(35);
        font-weight: 500;
    }
    //make the line thicker when the selected
    & input:focus, & textarea:focus{
        border-bottom: f.toRem(3) solid v.$very-dark-blue;
    }
    

    &__btn{
        align-self: flex-end;
        background-color: v.$very-dark-blue;
        padding: f.toRem(31) f.toRem(28);
    }

}