@use '../globals/functions' as f;
@use '../globals/mixins' as m;
@use '../globals/variables' as v;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;

    &--hidden{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
        opacity: 0;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;

        @include m.breakpoint('small'){
            display: flex;
            justify-content: center;
            margin: 0;
            background-color: white;
        }
    }

    @include m.breakpoint('small'){
        display: flex;
        justify-content: center;
        margin: 0;
        background-color: white;
    }

    &__container{
        position: relative;
        display: flex;
        width: 100vw;
        height: f.toRem(96);
        
        @include m.breakpoint('small'){
            display: grid;
            margin: 0 f.toRem(96);
            width: 100%;
            height: f.toRem(152);
            max-width: f.toRem(914);
            grid-template-columns: f.toRem(96) 0.1fr 1fr;
            grid-template-rows: f.toRem(56) f.toRem(40) f.toRem(56);
        }

        @include m.breakpoint('xlarge'){
            margin: 0 f.toRem(165);
            max-width: f.toRem(1110);
            grid-template-columns: f.toRem(96) 0.1fr 1fr;
        }
    }

    &__name{
        display: none;
        writing-mode: vertical-rl;
        position: absolute;
        left: f.toRem(-64);
        top: 0;
        color: v.$light-grey;
        font-weight: 500;
        letter-spacing: f.toRem(18);

        @include m.breakpoint('small'){
            display: flex;
            align-items: center;
            gap: f.toRem(48);
            & div{
                height: f.toRem(104);
                width: f.toRem(1);
                background-color: v.$light-grey;
            }
        }

        @include m.breakpoint('xlarge'){
            left: f.toRem(-110);
        }
    }

    &__bar{
        line-height: 0;
        padding: f.toRem(32);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        grid-column: 1/4;
        grid-row: 1/4;

        @include m.breakpoint('small'){
            padding: 0;
            margin: 0;
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    &__logo {
        max-width: f.toRem(77);

    }

    &__burger {
        @include m.breakpoint('small'){
            display: none
        }
    }
}

.nav{
    @include m.heading-s;
    position: fixed;
    top: f.toRem(96);
    right: 0;
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;

    @include m.breakpoint('small'){
        @include m.body;
        position: static;
        top: 0;
        z-index: 1;
        grid-column: 3/4;
        grid-row: 2/3;
        transform: translateX(0);
        align-self: center;
    }

    &--active{
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
    }

    &__menu{
        background-color: v.$very-light-grey;
        display: flex;
        flex-direction: column;
        gap: f.toRem(17);
        width: 90vw;
        padding: f.toRem(39) 0 f.toRem(42) f.toRem(48);

        @include m.breakpoint('small'){
            width: 100%;
            background-color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            gap: f.toRem(55);
            z-index: 10;
            transition: all none none;
        }
    }

    &__item {
        & a{
            @include m.breakpoint('small'){
                color: v.$medium-grey;
            }
        }
    }

    &__back{
        position: fixed;
        display: none;
        top: f.toRem(96);
        width: 100vw;
        height: 100vh;
        background-color: black;
        z-index: -1;
        opacity: 0.5;
        transition: display 1s ease-in;

        @include m.breakpoint('small'){
            background-color: white;
            opacity: 1;
            grid-column: 1/6;
            grid-row: 1/4;
        }
    }

    &__back--active{
        display: block;
        transition: display 1s ease-in-out;
        @include m.breakpoint('small'){
            display: none;
        }
    }
}