@use '../globals/functions' as f;
@use '../globals/variables' as v;

.arrow{
    width: f.toRem(24);
    margin-left: f.toRem(24);
}

.btn {
    background-color: v.$very-dark-blue;
    color: white;
    padding: f.toRem(23) f.toRem(33);
    font-weight: bold;

    &:hover{
        background-color: v.$dark-grey;
    }

    &:active{
        background-color: v.$light-grey;
    }
}

.foo__btn{
    padding-left: f.toRem(32);
    padding-right: f.toRem(32);
}

button{
    font-weight: 500;
}